<header class="site-header">
  <div class="wrapper">
    <span class="site-title">{{ site.title | escape }}</span>
    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon">
          <!-- SVG icon code -->
        </span>
      </label>
      <div class="trigger">
        {%- for item in site.nav -%}
        <a class="page-link" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
        {%- endfor -%}
      </div>
    </nav>
  </div>
</header>